@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
.faq{
    z-index: 1001;
    margin: 0;
    padding: 0;
    font-family: "poppins";
    color: whitesmoke;
    display: flex;
    min-height: 100vh;
    transition: 0.5s ease;
}
.question{
  color: rgb(193, 193, 182);
}
.f {
    z-index: 1000;
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
  }
  
  .accordion .accordion-item {
    z-index: 1000;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #03b5d2;
  }
  
  .accordion button {
    cursor: none;
    z-index: 1000;
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #5abaf6;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    z-index: 1000;
    cursor:none;
    color: #03b5d2;
  }
  
  .accordion button:hover::after,
  .accordion button:focus::after {
    z-index: 1000;
    cursor: none;
    color: #03b5d2;
    border: 1px solid #03b5d2;
  }
  
  .accordion button .accordion-title {
    z-index: 1000;
    padding: 1em 1.5em 1em 0;
  }
  
  .accordion button .icon {
    z-index: 1000;
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
    transition: 0.5s ease-in-out;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded='true'] {
    color: #03b5d2;
  }
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }  